body {
	font-family:sans-serif;
}

.wrapper {
	width:61.8%;
	margin-right:auto;
	margin-left:auto;
	margin-top:1.0em;
	margin-bottom:1.0em;
	padding: 1.0em;
	background: #fff;
	border: 1px solid rgb(232,232,232);
	overflow: auto;
}